/* Main Heading styles */
body { 
  text-align: center;
  background-color: black;
}
/* Heading colors, background, and border soild */
h1 { 
  color: #000000;
  background-color: #808080;
  border: 2px solid white;
}
/* paragraphs, a, and pre colors */
p, a, pre, small { 
  color: #969999; 
}
/* hr width, border, height, background, and margin */
hr {
  width: 60%;
  border: none;
  height: 1px;
  background: #555;
  margin: 20px auto;
}
