@charset "UTF-8";
/* CSS Document */
  body {
    margin:0;
	text-align: center;
  }
  
  wrapper {
  	width:80%;
  	display:block;
  	margin:auto;
	background-color:rgba(225,240,255);
	border: 2px solid rgba(150,225,255);
  }
  
  h1, h3 {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 900;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
  }

  a {
	border: 2px solid rgba(255,255,255);
	font-family: "Roboto", sans-serif;
	background-color:rgba(0,0,0);
	color:rgba(255,255,255)
  }
 
  h1.logo {
    font-size:300%;
  }

  p.logo {
    font-size:111%;
  }

  p {
	color: grey;
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;	
  }
 
  section {
   	padding: 2%;
	margin: 2%;
	border: 2px solid rgba(125,125,125);
  }
  
  img{
    background-color:rgba(255,255,255); 
	border: 2px solid rgba(150,225,255);
  }
