@charset "UTF-8";
/* CSS Document */
  body {
    margin:0;
	text-align: center;
	background-image: url("Backgroundv1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  wrapper {
  	width:80%;
  	display:block;
  	margin:auto;

  }
  
  h1, h2, h3 {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 900;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
	color: white;
  }
  
  h1.logo {
    font-size:300%;
	text-align: left;
  }

  p.logo {
    font-size:111%;
  }

  p.black{
	color: black;
  }

  h3.black{
	color: black;
  }

  p {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 1000;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;	
  }
  
  p.project {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 1000;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
	color: black;
  }
  
  ins {
	color: black;
  }

  section {
	margin: 10px 25px;
	background-color:rgba(255,255,255);
	display: inline-block;
	width: 40%; 
  }
  
  img.logo {
    background-color:rgba(255,255,255); 
	float: left;
  }
  
  img{
    background-color:rgba(255,255,255); 
  }

  a.bottom {
	background-color: black;
	color: white;
	text-decoration: none;
    padding: 5px 50px;
	margin: 1px 10px;
  }

  a.bottom:hover {
	background-color: white;
	color: black;
	text-decoration: none;
    padding: 5px 50px;
	margin: 1px 10px;
  }

  a.bottom:active {
	background-color: green;
	color: black;
	text-decoration: none;
    padding: 5px 50px;
	margin: 1px 10px;
  }
  
  button{
	background-color:rgba(255,255,255);
	padding: 5px 50px;
	margin: 1px 10px;
    font-size: 150%;
	font-weight: 1000;
  }

  button:hover {
  color: white;
  background-color: black;
  }

  button:active {
  color: white;
  background-color: green;
  }
