/* Main Heading styles */
body { 
  text-align: center;
  background-color: black;
}
/* Heading colors */
h1 { 
  color: #000000;
  background-color: #808080;
}
/* paragraphs, a, and pre colors */
p, a, pre { 
  color: #969999; 
}
/* image martin-left */
img {
  margin-left: 1000px;
}
/* hr width, border, height, background, and margin */
hr {
  width: 60%;
  border: none;
  height: 1px;
  background: #555;
  margin: 20px auto;
}
