/* This is a CSS comment */

/* Style for all paragraphs */
p {
  color: blue;
  text-align: center;
}

/* Main page title */
h1 {
  color: black;
  text-align: center;
}

/* Footer section */
#footer {
  color: gray;
  text-align: center;
}
