h1, h2, h3, h4, h5 { 
  color: #E0E5E5; 
}
p, a, pre{ 
  color: #969999; 
}
body { 
  text-align: center;
  background-color: black;
img {
  margin-left: 1000px;
}
hr {
  width: 60%;
  border: none;
  height: 1px;
  background: #555;
  margin: 20px auto;
}
