/* Main Heading styles */
body { 
  text-align: center;
  background-color: black;
}
/* Heading colors, background, and border soild */
h1 { 
  color: #000000;
  background-color: #80808080;
}
/* paragraphs, a, and pre, blackquote, and address colors */
p, a, pre, small, blackquote, address, bdo { 
  color: #969999; 
}
/* mark highlight colors */
mark {
  background-color: white;
  color: #000000;
}
/* del mark colors */
del {
  color: red; 
}
/* ins underlined colors */
ins {
  color: white;
}
/* div.home */
div.home {
  background-color: #3C3C3C;
}
