@charset "UTF-8";
/* CSS Document */
  body {
    margin:0;
    text-align: center;
    background-image: url("backgroundv0.1.1.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	font-size: 18px;
  }
  wrapper {
  	display:block;
  	margin:auto;
	width: 1366px;
  }
  header {
	background-color: black;
  }
  footer {
	 background-color: black;
	 padding: 1px 0px;
	 border-top: 2px solid white;
  }
  h1, h2, h3, blockquote, b {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 900;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
	color: white;
  }
  h1{
	font-size: 42px;
  }
  h2{
    font-size: 32px;
  }
  p{
	font-size: 20px;
  }
  q, p, table, li, button, a {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 200;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
	color: white;
  }
  table, th, td {
    border-collapse: collapse;
  }
  th, td {
    background-color:rgba(0,0,0,0.25);
	width: 20%;
	padding: 5px 0px;
  }	
  button{
	background-color: black;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
	border: none;
  }
  button:hover{
	background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
  }
  button:active{
	background-color: black;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border: none;
  }
  a {
    text-decoration: none;
  }
 /* hover is on */
  .skill:hover, .positive:hover{
	background-color: rgba(0,255,0,0.25);
  }
  div:hover{
	background-color: rgba(0, 188, 255, 0.1);
  }
  .navigator:hover{
	background-color: rgba(0,92,125,1.00);
  }
  .navigator:active{
	background-color: rgba(0,125,0,1.00)
  }
  .immune:hover{
	background-color: rgba(255,0,0,0.25);
  }
  .project:hover, .photoshop:hover, .site:hover{
	background-color: rgba(0, 188, 255, 0.2);
  }
  tr:hover {
	background-color: rgba(0, 188, 255, 0.25)
  }
  hr{
	border: solid white;
	width: 10%;
	border-radius: 5px;
  } 
  .hrlogo{
	display: inline-block;
	width: auto;
	height: 30px;
  }
  .hrnav{
	display: inline-block;
	width: auto;
	padding-top: 32px;
	vertical-align: bottom;
  } 	
  .sidelogo{
	margin:0px 10px;
	padding:1.3px 0%;
	display:inline-block; 
	vertical-align: top;
  }
  .logo{
	margin:0px 10px;	
  }
  .quote{
	width: 47.4%; 
	display:inline-block; 
  }
  .contact{
	width: 47.4%; 
	display:inline-block; 
  }
	.health{
		font-size: 300%;
		margin: 20px auto;
	}
	.dps{
		font-size: 200%;
	    margin: 20px auto;
	}
	.skill{
		background-color: rgba(0,0,0,0.2);
	}
	.positive{
		background-color: rgba(0,0,0,0.1);
	}
	.immune{
		background-color: rgba(0,0,0,0.1);
	}
	.stat{
		background-color: rgba(0,0,0,0.1);
	}
    .project{
      background-color: rgba(0,0,0,0.1);
	  display: inline-block;
	  width: 40%;
	  vertical-align: top;
  }
  .site{
      background-color: rgba(0,0,0,0.1);
	  display: inline-block;
	  width: 40%;
  }
  .photoshop{
      background-color: rgba(0,0,0,0.1);
	  display: inline-block;
	  width: 40%;
  }
  .count{
	   font-size: 605%;
	   margin: 20px auto;
  } 
  .welcome{
    padding: 15% 0px;
    background-color: rgba(0,0,0,0.1);
  }
  .icon{
	padding: 106.57px 0px;
    background-color: rgba(0,0,0,0.1);	
  }
  .getstarted{
	padding: 10px 0px;
    background-color: rgba(0,0,0,0.1);	
  }
  .quote{
	padding: 10px 0px;
    background-color: rgba(0,0,0,0.1);	
  }
  .contact{
	padding: 10px 0px;
    background-color: rgba(0,0,0,0.1);	 
  }
  .navigator{
	background-color: black;
	padding: 10px;
  }
  .game{
    background-color: rgba(0,0,0,0.1);	 
  }