/* Main Heading styles */
body { 
  text-align: center;
  background-color:rgb(0, 0, 0);
}
/* Heading colors, background, and border soild */
h1 { 
  color: #000000;
  background-color:rgb(128, 128, 128, 0.5);
}
/* paragraphs, a, and pre, blackquote, and address colors */
p, a, pre, small, blackquote, address, bdo { 
  color:rgb(168, 168, 168); 
}
/* mark highlight colors */
mark {
  background-color:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
}
/* del mark colors */
del {
  color:rgb(255, 0, 0); 
}
/* ins underlined colors */
ins {
  color:rgb(255, 255, 255);
}
/* div.home */
div.home {
  background-color:rgb(51, 51, 51);
}
