/* Heading colors */
h1, h2, h3, h4, h5 { 
  color: #E0E5E5; 
}
/* paragraphs, a, and pre colors */
p, a, pre { 
  color: #969999; 
}
/* Main Heading styles */
body { 
  text-align: center;
  background-color: black;
/* image martin-left */
img {
  margin-left: 1000px;
}
/* hr width, border, height, background, and margin */
hr {
  width: 60%;
  border: none;
  height: 1px;
  background: #555;
  margin: 20px auto;
}
