@charset "UTF-8";
/* CSS Document */
  body {
    margin:0;
    text-align: center;
    background-image: url("Backgroundv1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  wrapper {
  	width:80%;
  	display:block;
  	margin:auto;
  }

  header {
	background-color: black;
	padding-bottom: 1px;
  }
  
  h1, h2, h3, blockquote, q {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 900;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
	color: white;
  }
  
  p.logo {
    font-size:111%;
  }

  p.black{
	color: black;
  }

  h3.black{
	color: black;
  }

  p {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 1000;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
  }
  
  p.project {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 1000;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
	color: black;
  }
  
  img.logo {
    background-color:rgba(255,255,255); 

  }

  a.bottom {
	background-color: black;
	color: white;
	text-decoration: none;
    padding: 5px 50px;
  }

  a.bottom:hover {
	background-color: white;
	color: black;
	text-decoration: none;
    padding: 5px 50px;
  }

  a.bottom:active {
	background-color: green;
	color: black;
	text-decoration: none;
    padding: 5px 50px;
  }
  
  footer {
	 background-color: black;
	 padding: 10px;
  }
  
  hr{
	border: solid white;
	width: 15%;
  } 
  
  hr:hover{
    border: solid green;
	width: 15%;
  } 

  address{
	color: white;
  }
