/* Element selector */
p {
  color: blue;
  text-align: center;
  margin-bottom: 16px;
}

/* Class selector */
.title {
  color: green;
  text-align: left;
}

/* ID selector */
#footer {
  color: gray;
  text-align: right;
}

img {
  margin: 10px;
}
