@charset "UTF-8";
/* CSS Document */
  body {
    margin:0;
	text-align: center;
  }
  
  wrapper {
  	width:80%;
  	display:block;
  	margin:auto;
	background-color:rgba(225,240,255);
	border: 2px solid rgba(150,225,255);
  }
  
  h1, h3 {
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 900;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;
  }
 
  h1.logo {
    font-size:300%;
  }

  p.logo {
    font-size:111%;
  }

  p {
	color: grey;
	font-family: "Roboto", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
  	font-variation-settings: "wdth" 100;	
  }
 
  section {
	margin: 10px 25px;
	border: 2px solid rgba(125,125,125);
	background-color:rgba(255,255,255);
	display: inline-block;
	width: 40%;
  }
  
  img{
    background-color:rgba(255,255,255); 
	border: 2px solid rgba(150,225,255);
  }

  button{
	background-color:rgba(255,255,255);
	padding: 5px 50px;
	margin: 1px 10px;
	border: 2px solid rgba(125,125,125);
    font-size: 150%;
	font-weight: 1000;
  }

  button:hover {
  color: white;
  background-color: black;
  }

  button:active {
  color: white;
  background-color: green;
  }

